*{
    margin: 0;
    padding:0;
}
body{
    font-family: Aerial,sans-serif;
    font-size:13px;
}

h1#logo{
    height: 95px;
    width:269px;
    background: url(images/google.png) top left no-repeat;
    background-size:80%; 
    text-indent: -9999px;
    margin: 0 auto;
}

#container{
    text-align: center;
    width: 580px;
    margin: 140px auto 0 ;
}

input[type="text"]{
    text-content: "Ex.Junaid The Greatest";
    width:566px;
    
    padding: 7px;
    display: block;
    margin:25px 0 18px;
    border:solid 1px #ccc;
    font-size: 16px;
    font-family: helvetica , sans-serif;
}
   
 
input[type="text"]:hover{
    border-color: #aaa;
}

input[type="submit"]{
background-color: #eee;
    color: #757575;
    padding:5px;
    border: solid 1px #ddd;
    font-size: 11px;
    font-family: aerial , sans-serif;
    font-weight: bold;
    margin: 0 5px;
}

input[type="submit"]:hover{
    cursor: pointer;
    color:#222; 
    border-color: #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

small{
    display: block;
    margin: 10px 0 0 0;
    font-size: 12px;
}

a:link,a:visited{
    color: dodgerblue;
    text-decoration: none
}

a:link:hover{
    text-decoration: underline;
}

nav#header{
    text-align: right;
    padding: 20px;
    
}

nav#header ul li{
    display: inline;
}

nav#header ul li a:link,nav#header ul li a:visited , footer nav ul li a:link,footer nav ul li a:visited{
    color:#555;
    padding:10px;
}

footer{
    background: #eee;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer nav{
    padding: 20px;
}


footer nav ul li{
    display: inline;
}
footer nav ul{
    float: left;
}

footer nav ul.right-links{
    float:right;
    text-align: right
}

.clearfix:after{
    display: table;
    content: "";
    clear: both;
    
}


    
