*{
    margin:0;
    padding:0;
}
@keyframes fadeIn{
    form{font-size:0;}
    to{font-size:72px;}
}

body{
    background:url('../images/bg.jpg') center center no-repeat;
    background-size: cover;

}

header{
    margin-top: 0;
    background:rgba(0, 0,0,0.8);
    padding-bottom: 20px;
    padding-top: 20px;
}

header h1,header h5{
    color: white;
    font-family: monospace;   
}

header h1{
    font-weight: bold;
    margin:20px;
    margin-bottom: 0;
   /* animation-name: fadeIn;
    animation-delay:1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;*/
}



header h5{
    text-align: left;
    margin-left:20px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  /*   animation-name: fadeIn;
    animation-delay:1s;
    animation-duration: 3s;
    animation-direction: reverse;*/
}
nav{
    font-family: 'Montserrat', sans-serif;
    border-top: solid 1px white;
    text-align: center; 
    width: 100%;
    background:rgba(0, 0,0,0.8);
    color: white;
    position: sticky;
    top:0;
}



nav ul li{
    display: inline-block;
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin:10px 10px;
    padding: 5px 50px;
    border-left: solid 1px #ddd;
    /*border-right: solid 1px black;*/
    box-sizing: border-box;
}

nav ul li a:link{
   text-decoration: none;
   color: white;
}
nav ul li a:visited{
    color: white;
    text-decoration: underline;
}

nav ul li a:hover{
    text-decoration: underline;
}
nav ul li a:active{
    position: relative;
    top: 2px;
}

#home{
    border-left: none;
}

.clearfix:after{
    display: table;
    content: "";
    clear: both
}

.container{
    font-family: 'Montserrat', sans-serif;
    background: rgba(0,0,0,0.5);
    width:960px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 25px;
    
}

.container h3{
    margin: 30px;
    margin-left:0px;
    padding-left:0px;
    margin-top: 50px;
    margin-bottom:30px; 
    color:white;
    width: 960px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;}
.container p{
    
    color:white;
    width: 960px;
    text-align:left;
    font-size: 25px;
    border-bottom: solid 1px white;
    padding-bottom: 50px;
}

footer{
    font-family: 'Montserrat', sans-serif;
    background: rgba(0,0,0,0.5);
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 100px;
    color:white;
    text-align: center;
    line-height: 50%;
}



























